{% extends 'ratings/base.html' %}
{% block title %}User Details{% endblock %}

{% block navbar_items %}

{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-5 center-small login-form">
            <h3 class="text-center">{{ type }}</h3>
            {%if type == "Login"%}
            {% if form.errors %}
            {%for i in form.errors.values%}
                <p><strong><center>{{i}}</center></strong></p>
            {%endfor%}
            {% endif %}
            {%endif%}
            {% if error_message %}
                <p><strong>{{ error_message }}</strong></p>
            {% endif %}
            <form class="card" action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {% include 'ratings/genericForm.html' %}
                    <div class="form-group">
                    <div class="col-sm-offset-2 col-sm-10">
                        <button type="submit" class="btn btn-success">Submit</button>
                    </div>
                </div>
            </form>
        </div>

    </div>

</div>

{% endblock %}
