{% extends 'ratings/base.html' %}
{% load staticfiles %}
{% block title %}User Details{% endblock %}

{% block navbar_items %}
<span class="icon-bar">Home</span>
<span class="icon-bar">Users</span>
{% endblock %}
{% block body %}
<br>
<div class="row" >
  <div class="col-sm-3">
    Works:
  </div>

  <div class="col-sm-9">
    {% for work in works %}
      <div class="card work-card">
        <span class="close-icon " data-effect="fadeOut" ><i class="far fa-times-circle"></i></span>
        {{work}}
      </div>
    {% endfor %}
  </div>
</div>

<form class="form-horizontal right-large" action="" method="post" enctype="multipart/form-data">
{% csrf_token %}
{% include 'ratings/genericForm.html' with form=workform %}
<div class="col-sm-offset-2">
    <button type="submit" class="btn btn-success">Save</button>
</div>
</form>

<form  class="form-horizontal right-large" action="" method="post" enctype="multipart/form-data">
    {% csrf_token %}
    {% include 'ratings/genericForm.html' with form=updateform %}
    <div class="form-group row">
        <div class="col-sm-offset-2">
            <button type="submit" class="btn btn-success">Save</button>
        </div>
    </div>
</form>

{% endblock %}
