{% extends 'ratings/base.html' %}
{% block title %}Leaderboard{% endblock %}
{% load staticfiles %}
{% block body %}
<div class="container center-large card">
    <h2 class="text-center">Leaderboard</h2><br><hr>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="col-sm-3">User Id</th>
                <th scope="col" class="col-sm-2">Rating</th>
                <th scope="col" class="col-sm-7">Latest Work</th>
            </tr>
        </thead>
        <tbody>
            {% for ctr in dict %}
            {%if ctr.profile.user.is_superuser%}
            {%else%}
            <tr>
                <th scope="col"> <a href="{{ user.get_absolute_url }}">
                    <strong>{{ ctr.profile.userid }}</strong>
                </a></th>
                <td >
                        {% if ratercansee %}
                        <strong>{{ ctr.profile.current_rating }}</strong>
                        {% else %}
                        <strong>Rate everyone to see ratings.</strong>
                        {% endif %}
                </td>
                <td > {% if ctr.profile.get_latest_work %}
                        {% if ctr.short %}
                          <span class = "long_work">{{ctr.short}}...</span>
                          <span class = "actual_work">{{ctr.profile.get_latest_work}}</span>
                        {% else%}
                          <span>{{ ctr.profile.get_latest_work }}</span>
                        {% endif %}
                        {% else %}
                        {% endif %}
                </td>
            </tr>
            {%endif%}

            {% endfor %}
            <!--{% for user in object_list %}
                {%if user.user.is_superuser%}
                {%else%}
                <tr>
                    <th scope="col"> <a href="{{ user.get_absolute_url }}">
                        <strong>{{ user.userid }}</strong>
                    </a></th>
                    <td >
                            {% if ratercansee %}
                            <strong>{{ user.current_rating }}</strong>
                            {% else %}
                            <strong>Rate everyone to see ratings.</strong>
                            {% endif %}
                    </td>
                    <td > {% if user.get_latest_work %}

                        <span class = "workleaderboardshow">Show</span><span class= "workleaderboard">{{ user.get_latest_work }}</span>
                        {% else %} {% endif %}</td>
                </tr>
                {%endif%}
            {% endfor %}-->
        </tbody>
    </table>
</div>
{% endblock %}
