{% extends 'ratings/base.html' %}
{% block title %}Leaderboard{% endblock %}

{% block body %}
<div class="container center-large card">
    <h2 class="text-center">Leaderboard</h2><br><hr>
    <table class="table">
        <thead class="thead-light">
            <tr>
                <th scope="col" class="col-sm-3">User Id</th>
                <th scope="col" class="col-sm-2">Rating</th>
                <th scope="col" class="col-sm-7">Latest Work</th>
            </tr>
        </thead>
        <tbody>
            {% for user in object_list %}
            {%if user.user.is_superuser%}
            {%else%}
            <tr>
                <th scope="col"> <a href="{{ user.get_absolute_url }}">
                    <strong>{{ user.userid }}</strong>
                </a></th>
                <td >
                        {% if ratercansee %}
                        <strong>{{ user.current_rating }}</strong>
                        {% else %}
                        <strong>Rate everyone to see ratings.</strong>
                        {% endif %}
                </td>
                <td > {% if user.get_latest_work %}
                    {{ user.get_latest_work }}
                    {% else %} {% endif %}</td>
            </tr>
            {%endif%}
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
