{% extends 'ratings/base.html' %}
{% block title %}User Details{% endblock %}

{% block navbar_items %}
<span class="icon-bar">Home</span>
<span class="icon-bar">Login</span>
{% endblock %}

{% block body %}

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-12 col-md-7">
            <div class="panel panel-default">
                <div class="panel-body">
                    <h3>Login</h3>
                    {% if error_message %}
                        <p><strong>{{ error_message }}</strong></p>
                    {% endif %}
                    <form  class="form-horizontal" action="" method="post" enctype="multipart/form-data">
                        {% csrf_token %}
                            {% for field in userform %}
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <span class="text-danger small">{{ field.errors }}</span>
                                    </div>
                                    <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                                    <div class="col-sm-10">{{ field }}</div>
                                </div>
                            {% endfor %}
                            {% for field in profileform %}
                                <div class="form-group">
                                    <div class="col-sm-offset-2 col-sm-10">
                                        <span class="text-danger small">{{ field.errors }}</span>
                                    </div>
                                    <label class="control-label col-sm-2">{{ field.label_tag }}</label>
                                    <div class="col-sm-10">{{ field }}</div>
                                </div>
                            {% endfor %}

                            <div class="form-group">
                            <div class="col-sm-offset-2 col-sm-10">
                                <button type="submit" class="btn btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                    <p><a href="{% url 'ratings:register' %}">New User?</a></p>
                </div>
            </div>
        </div>

    </div>

</div>

{% endblock %}

