{% extends 'ratings/base.html' %}
{% block title %}User Details{% endblock %}

{% block navbar_items %}
<span class="icon-bar">Home</span>
<span class="icon-bar">Users</span>
{% endblock %}

{% block body %}
<div class="container center-large card">
    <div class="padding-15">
        <div class="row">
            <div class="col-sm-6">
                <span class="font-lora">Username:</span> {{ user.name }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <span class="font-lora">User Id:</span> {{ user.userid }}
            </div>
        </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="font-lora">About:</span> {{ user.about }}
            </div>
        </div>
        <div class="row">
                <div class="col-sm-12">
                    <span class="font-lora">Rating:</span> {{ current_rated }}
                </div>
            </div>
        <div class="row">
            <div class="col-sm-12">
                <span class="font-lora">Works:</span>
                <ul>
                    {% for work in works %}
                        <li class="card work-card">{{ work }}</li>
                    {% endfor %}
                </ul>
            </div>
        </div>

        {% if form %}
        <form  class="form-horizontal" action="" method="post" enctype="multipart/form-data">
            {% csrf_token %}
            {% include 'ratings/genericForm.html' %}
                <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-success">Submit</button>
                </div>
            </div>
        </form>
        {% endif %}
    </div>
</div>
{% endblock %}

