body{
    background: white url("images/background3.jpg");
}


.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}