body{
    background: white url("images/background3.jpg");
    box-sizing: border-box;
}

.card, .padding-15{
    padding: 15px;
}

.center-large{
    width: 70%;
    padding: auto;
}

.center-small{
    width: 60%; 
    max-width: 800px;
    padding: auto;
}

.center-small{
    margin: 100px auto;    
}

.center-large{
    margin: 20px auto;    
}

.right-large {
    width: 60%;
    padding: auto;
}

.navbar {
    border-radius: 0;
}

.navbar-brand {
    font-family: 'Satisfy', cursive;
}

.glyphicon-star {
    color: #CCCCCC;
    font-size: 16px;
}

.glyphicon-star.active {
    color: #FDB230;
}

.font-lora {
    font-family: 'Lora', serif;
}

.font-large {
    font-size: 28px;
}

.login-form ul {
    list-style: none;
    padding-top: 10px;
}

.login-form li {
    display: inline;
    margin: 20px;
}

.editable {
    position: absolute;
    top: 5px;
    right: 5px;
}

.work-row {
    overflow-x: auto;
    white-space: nowrap;
    width: 100%;
    flex-direction: row !important;    
    padding: 5px;
    margin: 10px 0px;
}

.work-card {
    display: inline-block !important;
    /* width: 50%; */
    white-space: pre-wrap;
    width: 250px;
    max-height: 150px;
    margin: 5px;
    overflow-y: auto;
    /* flex-direction: column !important; */
}

.logged-user {
    padding: 15px;
    position: absolute;
    width: 15%;
    overflow-wrap: normal
}

.leader-row {
    border-top: 2px solid #777777;
}